.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:224.704000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:32.000000px;}
.fs2{font-size:48.000000px;}
.fs1{font-size:56.000000px;}
.fs3{font-size:72.000000px;}
.y2{bottom:1.695000px;}
.y1e{bottom:4.340998px;}
.y1{bottom:35.999974px;}
.y1c{bottom:227.280998px;}
.y1b{bottom:241.079999px;}
.y1a{bottom:268.678001px;}
.y19{bottom:282.477002px;}
.y18{bottom:323.874016px;}
.y17{bottom:337.673012px;}
.y16{bottom:351.472015px;}
.y15{bottom:365.271011px;}
.y14{bottom:379.070011px;}
.y13{bottom:392.869011px;}
.y12{bottom:406.668012px;}
.y11{bottom:420.466992px;}
.y10{bottom:461.863998px;}
.yf{bottom:475.662994px;}
.ye{bottom:489.461994px;}
.yd{bottom:503.260994px;}
.yc{bottom:517.059995px;}
.yb{bottom:530.859006px;}
.ya{bottom:544.657997px;}
.y9{bottom:558.456998px;}
.y8{bottom:586.055005px;}
.y7{bottom:613.652997px;}
.y6{bottom:641.251004px;}
.y5{bottom:668.849004px;}
.y4{bottom:696.447000px;}
.y0{bottom:736.000000px;}
.y1d{bottom:739.800002px;}
.y3{bottom:742.868000px;}
.h2{height:9.199000px;}
.h6{height:21.599998px;}
.h3{height:23.312500px;}
.h1{height:29.500000px;}
.h5{height:34.968750px;}
.h4{height:40.796875px;}
.h7{height:52.453125px;}
.h0{height:792.000000px;}
.w1{width:37.000000px;}
.w2{width:47.499999px;}
.w0{width:612.000000px;}
.x1{left:0.000000px;}
.x5{left:13.325000px;}
.x2{left:72.000000px;}
.x3{left:200.610001px;}
.x4{left:489.250000px;}
.x0{left:494.500000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:299.605333pt;}
.fs0{font-size:42.666667pt;}
.fs2{font-size:64.000000pt;}
.fs1{font-size:74.666667pt;}
.fs3{font-size:96.000000pt;}
.y2{bottom:2.260000pt;}
.y1e{bottom:5.787997pt;}
.y1{bottom:47.999966pt;}
.y1c{bottom:303.041331pt;}
.y1b{bottom:321.439999pt;}
.y1a{bottom:358.237335pt;}
.y19{bottom:376.636003pt;}
.y18{bottom:431.832021pt;}
.y17{bottom:450.230682pt;}
.y16{bottom:468.629354pt;}
.y15{bottom:487.028015pt;}
.y14{bottom:505.426682pt;}
.y13{bottom:523.825348pt;}
.y12{bottom:542.224016pt;}
.y11{bottom:560.622656pt;}
.y10{bottom:615.818665pt;}
.yf{bottom:634.217326pt;}
.ye{bottom:652.615992pt;}
.yd{bottom:671.014659pt;}
.yc{bottom:689.413326pt;}
.yb{bottom:707.812008pt;}
.ya{bottom:726.210663pt;}
.y9{bottom:744.609330pt;}
.y8{bottom:781.406673pt;}
.y7{bottom:818.203996pt;}
.y6{bottom:855.001339pt;}
.y5{bottom:891.798672pt;}
.y4{bottom:928.595999pt;}
.y0{bottom:981.333333pt;}
.y1d{bottom:986.400002pt;}
.y3{bottom:990.490667pt;}
.h2{height:12.265334pt;}
.h6{height:28.799998pt;}
.h3{height:31.083333pt;}
.h1{height:39.333333pt;}
.h5{height:46.625000pt;}
.h4{height:54.395833pt;}
.h7{height:69.937500pt;}
.h0{height:1056.000000pt;}
.w1{width:49.333333pt;}
.w2{width:63.333332pt;}
.w0{width:816.000000pt;}
.x1{left:0.000000pt;}
.x5{left:17.766666pt;}
.x2{left:96.000000pt;}
.x3{left:267.480001pt;}
.x4{left:652.333334pt;}
.x0{left:659.333333pt;}
}
